
name: deploy-bare

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_KEY }}
      - name: Push to server
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_PATH: ${{ secrets.SSH_PATH }}
        run: |
          rsync -az -e "ssh" --delete ./ ${SSH_USER}@${SSH_HOST}:${SSH_PATH}/
          ssh ${SSH_USER}@${SSH_HOST} "cd ${SSH_PATH}/infra && docker compose -f docker-compose.bare.yml up -d --build"
