name: Release VSIX
on:
  push:
    tags: [ "v*.*.*" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: "20" }
      - name: Package VSIX
        run: |
          npm i -g @vscode/vsce
          cd vscode-extension/neo-godmode-vscode
          vsce package
          mv neo-godmode-*.vsix ../../neo-godmode-vscode.vsix
      - uses: softprops/action-gh-release@v2
        with:
          files: neo-godmode-vscode.vsix
